{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Dummy Banking System" />
    <meta name="author" content="Sidarenka Timafey" />
    <title>
        {% block head_title %}Ca Va CRM{% endblock %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block head_extra %}{% endblock %}

</head>
<body class="bg-gray-100">
{% block body %}
    <div class="lg:ml-64"> <!-- Сдвиг контента на ширину боковой панели -->
         {% include 'core/navbar.html' %}
        <div class="lg:container lg:mx-auto">
            {% block content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block footer_extra %}{% endblock %}
</body>
</html>
