{% load static %}
{% if request.user.is_authenticated %}
<div id="sidebar" class="flex flex-col h-screen justify-between">
    <div id="menuItems ">
        <div class="flex items-center flex-shrink-0 text-white ">
            <span><a href="{% url 'home' %}">
                <img id="logo" src="{% static 'img/cava_logo.png' %}" alt="Logo"></a>
            </span>
        </div>
        <a href="{% url 'clients_list' %}" class="menu-item flex mt-10 ml-3 items-center text-center hover:border border-white rounded p-2">
            <div class="icon text-center">
                 <i style="margin-right: 5px" class="fa fa-users" aria-hidden="true"></i>
                Клиенты
            </div>
        </a>
        <a href="{% url 'dashboard' %}" class="menu-item flex ml-3 items-center hover:border border-white rounded p-2">
             <div class="icon">
                <i style="margin-right: 5px" class="fa fa-th-large" aria-hidden="true"></i>
                 Доска заказов
            </div>
        </a>
        <a href="{% url 'business_analytics' %}" class="menu-item flex ml-3 items-center hover:border border-white rounded p-2">
             <div class="icon">
                <i style="margin-right: 5px" class="fa fa-pie-chart" aria-hidden="true"></i>
                Аналитика
            </div>
        </a>
         <a href="#" class="menu-item flex ml-3 items-center hover:border border-white rounded p-2">
             <div class="icon">
                <i style="margin-right: 5px" class="fa fa-history" aria-hidden="true"></i>
                 Вся история
            </div>
        </a>

    </div>
    <div >
        <div class=" text-white bottom-0 flex justify-between rounded menu-item pb-3 pt-3">
          <a href="{% url 'user_logout' %}" class=" text-white text-decoration-none flex  hover:border border-white  ">
             <div class="m-0">

                  {{ request.user.first_name }} {{ request.user.last_name }}
            </div>
            </a>
      </div>
        <hr style="border-top: 2px solid white; margin: 0">
        <div class="pl-2 text-white text-center bottom-0 flex mt-0 menu-item rounded ">
            <!-- Cсылка на выход из аккаунта -->
            <a href="{% url 'user_logout' %}" class="menu-item flex rounded p-1">
             <div class="">
                <i style="margin-right: 5px" class="fa fa-sign-out" aria-hidden="true"></i>
                 Выйти
            </div>
            </a>
        </div>
    </div>

</div>
{% endif %}

