{% extends 'core/base.html' %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-2xl mt-4 font-semibold text-gray-700">Редактировать</h1>
    <hr class="border-b-2 border-gray-300 my-2 mb-10">
    <form method="post" action="{% url 'worker_edit' worker.id %}" class="max-w-md">
        {% csrf_token %}
        <div class="mb-4">
            <label for="{{ form.position.id_for_label }}" class="block text-gray-700 text-md font-bold mb-2">Позиция</label>
            {{ form.position }}
            {% if form.position.errors %}
                <div class="text-red-500 mt-1">
                     {% for error in form.position.errors %}
                        <p class="alert alert-danger" role="alert">{{ error }}</p>
                     {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-4">
            <label for="{{ form.phone.id_for_label }}" class="block text-gray-700 text-md font-bold mb-2">Телефон</label>
            {{ form.phone }}
            {% if form.phone.errors %}
                <div class="text-red-500 mt-1">
                     {% for error in form.phone.errors %}
                        <p class="alert alert-danger" role="alert">{{ error }}</p>
                     {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Изменить</button>
    </form>
</div>
{% endblock %}
