{% extends 'core/base.html' %}
{% load static %}
{% block content %}
        <h1 class="text-2xl mt-4 font-semibold text-gray-700">Доска заказов</h1>
    <hr class="border-b-2 border-gray-300 my-2 mb-10">
    {% include 'dashboard/status.html' %}
    <div class="col">
        <div class="col-md">
            <div class="card card_body">
                <a class="btn btn-primary  btn-block " href="">Создать новый заказ</a>
                <table class="table table-sm mt-2">
                    <tr>
                        <th>Название</th>
                        <th>Дата заказа</th>
                        <th>Исполнитель</th>
                        <th>Статус</th>
                    </tr>

                </table>
            </div>
        </div>
    </div>
{% endblock content %}