{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class="mt-8 mb-4">
     <h1 class="text-2xl font-semibold text-gray-700">Клиенты</h1>
    <hr class="border-b-2 border-gray-300 my-2 mb-10">
        <div class="flex justify-between mb-4">
            <div class="flex w-full mr-2 fa-pen-to-square">
                <input type="search" placeholder="Поиск клиента..." class="border border-gray-200 px-4 mr-5 rounded w-full">
                <button class="bg-blue-700 text-white px-4 rounded hover:bg-blue-600">Найти</button>
                 <a href="#" class=" flex  bg-blue-500 text-white text-center px-6 ml-3 text-decoration-none rounded hover:bg-blue-600  items-center justify-center">
                    Импорт клиента
                </a>
            </div>

        </div>
        <table class="w-full border-collapse border border-gray-200">
                {% if not clients%}
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="py-2 px-4 border border-gray-200">ФИО</th>
                            <th class="py-2 px-4 border border-gray-200">Телефон</th>
                            <th class="py-2 px-4 border border-gray-200">Действия</th>
                        </tr>
                        </thead>
                    <tbody>
                     {% for client in clients %}
                    <tr>
                        <td class="py-2 px-4 border border-gray-200">{{ client.full_name }}</td>
                        <td class="py-2 px-4 border border-gray-200">{{ client.phone_number }}</td>
                        <td class="py-2 px-4 border border-gray-200">
                            <a href="{% url 'client_details' client.id %}" class="text-blue-500 hover:underline mr-2">Просмотр</a>
                            <a href="{% url 'client_delete' client.id %}" class="text-red-500 hover:underline">Удалить</a>
                        </td>
                    </tr>

                    {% endfor %}
                {% else %}
                     <p>Пока что нет клиентов.</p>
             {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}