{% extends 'core/base.html' %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-2xl mt-4  font-semibold text-gray-700">Создание нового клиента</h1>
    <hr class="border-b-2 border-gray-300 my-2 mb-10">
    <form method="post" action="{% url 'create_client' %}" class="max-w-md">
        {% csrf_token %}
        <div class="mb-4">
            <label for="{{ form.username.id_for_label }}" class="block text-gray-700 text-md font-bold mb-2">Имя и Фамилия</label>
            <input type="text" id="id_full_name" name="full_name" required placeholder="Введите имя и фамилию" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="mb-4">
            <label for="{{ form.username.id_for_label }}" class="block text-gray-700 text-md font-bold mb-2">Телефон</label>
            <input type="text" id="id_phone" name="phone" required placeholder="Введите телефон" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            {% if form.phone.errors %}
                <div class="text-red-500 mt-1">
                     {% for error in form.phone.errors %}
                        <p class="alert alert-danger" role="alert">{{ error }}</p>
                     {% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Создать</button>
    </form>
</div>
{% endblock %}
